 <div class = "card">
        
        <a href="api/posts/{{id}}"><h3>{{title}}</h3></a>
        <h6>Created on {{created}} by User {{user.username}}</h6>
        <p>{{content}} </p>
        <h6>Comments:</h6>
        {{#each comments}}
        <p>{{text}}</p>
        <p>Comment posted on {{created}}</p>

        <p class="divider">------------------------------------------------</p>
        {{/each}}

    </div>

    