<h1>Welcome to your blog, {{username}}</h1>


<h2>Your posts:</h2>
{{#each blogs as |blog|}}
    <div class = "blogCard">
        <a href="api/blogs/{{blog.id}}"><h3>{{blog.title}}</h3></a>
        <p>{{body}}</p>
        {{!-- {{#each Comments}} --}}
    <button class="deletePost" data-blogId="{{id}}">Delete post</button>
        <hr>
    </div>
{{/each}}

<h2>Add a blog post!</h2>
<form action="" class="addBlog">
    <input type="text" name="title" class="blogTitle" placeholder="Blog Title">
    <input type="text" name="blog_content" class="blog_content" placeholder="Blog Content">
    <button type="submit">Add Blog!</button>
</form>


<script src="/js/profile.js"></script>