<h3>Welcome to your blog, {{username}}</h3>


<h4>Your Post History:</h4>
{{#each posts as |post|}}
    <div class = "postCard">
        <a href="api/posts/{{post.id}}"><h3>{{post.title}}</h3></a>
        <p>{{body}}</p>
    <button class="deletePost" postId="{{id}}">Delete post</button>
        <hr>
    </div>
{{/each}}

<h2>Create a New Post!</h2>
<form action="" class="addBlog">
    <input type="text" name="title" class="blogTitle" placeholder="Blog Title">
    <input type="text" name="blog_content" class="blogContent" placeholder="Blog Content">
    <button type="submit">Add Blog!</button>
</form>


<script src="/js/profile.js"></script>